<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823326990515-m7c33s3oi45k5pdpg7g3947ddcp46hgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823326990515-m7c33s3oi45k5pdpg7g3947ddcp46hgd</string>
	<key>API_KEY</key>
	<string>AIzaSyAuI_UTdFEuc1DcNAxhKbs8SSRlRG1h5Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>823326990515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TechEase.Health-Coach</string>
	<key>PROJECT_ID</key>
	<string>health-6c673</string>
	<key>STORAGE_BUCKET</key>
	<string>health-6c673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:823326990515:ios:4bf88dc04ef0a95097d0c6</string>
	<key>DATABASE_URL</key>
	<string>https://health-6c673.firebaseio.com</string>
</dict>
</plist>
